<!DOCTYPE html>
{#{% load staticfiles %}#} <!-- Django version 2.1 -->
{% load static %} <!-- Django version 6.0 will use this way -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Image</title>
</head>
<body>
<h1>Image says...</h1>
<div>
    hey there partner! <br />
    <strong>{{ boldmessage }}</strong><br />
</div>
<div>
    <a href="/rango/about/">About</a><br />
    <img src="{% static 'images/1.jpg' %}" style="width: 3%" alt="rango" />
    <br/>
    <img src="{{ MEDIA_URL }}cat.jpg" alt="Picture of a Cat."/>
</div>
</body>
</html>